{% extends "StcScraperBundle::layout.html.twig" %}

{% block title "Scraper Bundle" %}

{% block content_header '' %}

{% block content %}

        <!-- CONTENT
       =================================-->

        <div class="jumbotron text-center">
            <div class="container">
                <div class="row">
                    <div class="col col-lg-12 col-sm-12">
                        <h1>Bootstrap 3 - Flat style in action</h1>
                        <p>Bootstrap 3 provides modern flat style. This template based on Bootstrap 3 RC version.</p>
                        <div class="row">

                            <div class="col col-lg-6 col-sm-6"><p><a class="btn  btn-primary btn-block btn-large" href="http://community.bootstraptor.com/categories/10088/bootstrap-3-version" target="_blank">Get more Bootstrap 3 examples</a></p></div>
                            <div class="col col-lg-6 col-sm-6"><p><a class="btn btn-danger btn-block btn-large" href="http://bootstrap-3.bootstraptor.com/post/53665815059/bootstrap-3-example-template-full-width" target="_blank"> Get this code</a></p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- /header container-->

        <!-- CONTENT
        =================================-->
        <div class="container">

            <div class="row">
                <div class="col col-lg-12"><div class="well"><p>1</p></div></div>
            </div>
            <div class="row">
                <div class="col col-lg-4"><div class="well"><p>4 cols</p></div></div>
                <div class="col col-lg-4"><div class="well"><p>4 cols</p></div></div>
                <div class="col col-lg-4"><div class="well"><p>4 cols</p></div></div>
            </div>
            <div class="row">
                <div class="col col-lg-6 col-sm-6"><div class="well"><p>6 cols, 6 small cols</p></div></div>
                <div class="col col-lg-6 col-sm-6"><div class="well"><p>6 cols, 6 small cols</p></div></div>
            </div>



            <div class="row">
                <div class="col col-lg-4 col-sm-6"><div class="well">4 cols, 6 small cols</div></div>
                <div class="col col-lg-4 col-sm-6"><div class="well">4 cols, 6 small cols</div></div>
                <div class="col col-lg-4 col-sm-12"><div class="well">4 cols, 12 small cols</div></div>
            </div>
        </div>

 <!-- /CONTENT
    =================================-->
{% endblock %}
