{% extends "TwigBundle::layout.html.twig" %}

{% block head %}
    <link rel="stylesheet" href="{{ asset('bundles/stcscraper/css/bootstrap.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/stcscraper/css/bootstrap_min.css') }}" />
    <script src="{{ asset('bundle/stcscraper/js/bootstrap.js') }}"></script>
    <script src="{{ asset('bundle/stcscraper/js/jquery-1.9.1.js') }}"></script>
{% endblock %}

{% block title 'Scraper Bundle' %}

{% block body %}

    <div class="block">
        {% block content %}

            <!-- Wrap all page content here -->
            <div id="wrap">

                <div class="navbar navbar-fixed-top navbar-inverse">
                    <div class="container">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#">Title</a>
                        <div class="nav-collapse collapse navbar-responsive-collapse">
                            <ul class="nav navbar-nav">
                                <li class="active"><a href="#">Home</a></li>
                                <li><a href="#">Link</a></li>
                                <li><a href="#">Link</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li class="nav-header">Nav header</li>
                                        <li><a href="#">Separated link</a></li>
                                        <li><a href="#">One more separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                            <form class="navbar-form pull-left" action="">
                                <input class="col col-lg-8" placeholder="Search" type="text">
                            </form>
                            <ul class="nav navbar-nav pull-right">
                                <li><a href="#">Link</a></li>
                                <li class="dropdown">
                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">Action</a></li>
                                        <li><a href="#">Another action</a></li>
                                        <li><a href="#">Something else here</a></li>
                                        <li class="divider"></li>
                                        <li><a href="#">Separated link</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div><!-- /.nav-collapse -->
                    </div><!-- /.container -->
                </div><!-- /.navbar -->


                <!-- Footer
                =================================-->
                <div id="footer">
                    <div class="container">
                        <!-- MARKETING LINE-->
                        <div class="row">
                            <div class="well">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <p class="lead ">

                                            Bootstrap 3 Upgrader: Get your HTML from 2.3 to 3.0! Free Bootstrap 2 =&gt; 3 migration service now alive!
                                        </p>
                                    </div>
                                    <div class="col-lg-4">
                                        <a class="btn btn-large btn-danger btn-block" href="http://bootstrap3.kissr.com/" target="_blank"> Start upgrade ?</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                        <!-- /MARKETING LINE-->
                        <hr>
                        <div class="row">
                            <p class="lead" style="padding-top:10px;">Get more Bootstrap 3 themes, templates and Bootstrap 3 version tutorial <a class="btn btn-danger" href="http://bootstrap-3.bootstraptor.com">Bootstrap 3 tutorial</a></p>
                        </div>
                    </div>
                </div>
                <!-- /Footer -->

            </div><!-- end: Wrap all page content here -->

        {% endblock %}
    </div>



{% endblock %}
